
<%= form_for [@book, @comment] do |f| %>
          <%= f.text_area :body %>
          <%= f.submit %>
        <% end %>

        <table class="table">
          <% @comments.each do |t| %>
            <tr>
              <td>
                <% unless t.user.blank? %>
                <%= attachment_image_tag(t.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
                <% end %>
                <%= t.user.name unless t.user.blank? %>
              </td>
              <td>
                <%= t.body %>
              </td>
              <td>
                <% link_to "DELETE", book_comment_path(book_id: @book.id, comment_id: @comment.id), method: :delete %>
              </td>

             
            </tr>
          <% end %>
        </table>